.most-liked {
  > h3 {
    margin-bottom: 25px;
  }
  &.list-group {
    list-style-type: none;
  }
  .row {
    border: 1px solid whitesmoke;
    border-radius: 3px;
    margin-bottom: 5px;
    button.btn.btn-sm {
      width: 60px;
    }
  }
}
